footer.footer
  .container
    .footer__wrapper
      a.footer__link(href='#') DREAMSHARE
      nav.navbar
        h4.navbar__head
          | Company
        .navbar__link-wrapper
          a.navbar__link.link1(href='#') About
          a.navbar__link.link2(href='#') Contact
          a.navbar__link.link3(href='#') Press 
          a.navbar__link.link4(href='#') Blog
          a.navbar__link.link5(href='#') Terms and Privacy
          a.navbar__link.link6(href='#') Help
      h4.footer__patners Partners
      .designed
        h4.footer__designed Designed by
        .logo-footer
          img(src='images/Bitmap.png', alt='Areto development')