header.header
  .slider
    .container
      .link-wrapper
        nav.menu-btn
          button.menu-btn__login
            a Log in
          button.menu-btn__signup
            a Sign up
        .logo
          a.logo__link(href='#') DREAMSHARE
      .block-text
        h1.block-text__title
          | SHARE YOUR
          | HOLIDAY DREAM
        .block-text__subtitle-block
          p.block-text__subtitle-block_subtitle And find the perfect partner to fullfill it
        button.block-text__btn Find your holiday partner
